# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smarthome
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MongoDB Configuration (init container data)
MONGO_USER=admin
MONGO_PASSWORD=admin
MONGO_DB=smarthome

# MongoDB URI (Control service connection string)
MONGO_URI=mongodb://admin:admin@mongodb:27017/smarthome?authSource=admin

